.contact {
  padding: 104px 0 120px;
  color: var(--main-bg-color);
}

.contact__title {
  color: var(--second-color);
  font-size: 80px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.form {
  background-color: var(--main-color);
  padding: 60px;
  border-radius: 32px;
}

.form__fieldst {
  margin-bottom: 32px;
  display: none;
}

.form__fieldst-active {
  display: block;
}

.form__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.form__radio-wpapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.form__radio-wpapper:last-child {
  margin-bottom: 0;
}

.radio__input {
  position: absolute;
  appearance: none;
}

.radio__label {
  display: block;
  border-radius: 50px;
  background-color: var(--second-bg-color);
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  border: 1px solid transparent;
}

.radio__label:hover {
  background-color: #e4f0f0;
}

.radio__input:checked + .radio__label {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.radio__input:focus-visible + .radio__label {
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.form__months {
  margin-bottom: 16px;
  display: flex;
  gap: 16px;
}

.form__time {
  display: none;
}

.form__btn-month-active {
  color: var(--second-color);
  transform: scale(1.1);
}

.form__subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 140%;
}

.form__btn-month {
  line-height: 140%;
}

.form__input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 8px;
  margin-bottom: 32px;
}

.form__input {
  border-radius: 8px;
  background-color: var(--second-bg-color);
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  border: 1px solid transparent;
  color: inherit;
}

.form__input:hover {
  border-color: var(--second-bg-color);
}

.form__input:focus-visible {
  border-color: var(--action-color);
}

.form__info {
  font-weight: 500;
  line-height: 140%;
}

.form__info-data {
  font-weight: 400;
  display: flex;
  gap: 8px;
}

.form__btn-wrapper {
  display: flex;
  gap: 8px;
}

.form__button {
  border-radius: 50px;
  background-color: var(--second-bg-color);
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.form__button-next {
  background-color: var(--second-color);
  color: var(--main-color);
}

.form__button-submit {
  background-color: var(--second-color);
  color: var(--main-color);
}

.form__button:disabled {
  color: var(--main-bg-color);
  background-color: var(--second-bg-color);
  opacity: 0.4;
  pointer-events: none;
}

@media (max-width: 1080px) {
  .contact {
    padding-top: 80px;
  }

  .contact__title {
    font-size: 60px;
    margin-bottom: 32px;
  }

  .form {
    padding: 40px;
  }

  .form__title {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .contact {
    padding: 50px 0 100px;
  }

  .contact__title {
    font-size: 48px;
  }
}

@media (max-width: 660px) {
  .contact {
    padding-bottom: 80px;
  }

  .contact__title {
    font-size: 32px;
  }

  .form {
    padding: 24px 16px;
    border-radius: 16px;
  }

  .form__input-wrapper {
    grid-template-columns: 1fr;
  }
}
