.header {
  background-color: var(--main-bg-color);
  padding-top: 32px;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 254px;
  height: 40px;
}

.header__button {
  width: 210px;
  height: 46px;
  background-color: var(--second-bg-color);
  border-radius: 50px;
}

.header__link {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}
