.header {
  background-color: var(--main-bg-color);
  padding-top: 32px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.header__logo {
  width: 254px;
}

.header__link:hover {
  background-color: #e4f0f0;
}

.header__link:focus-visible {
  border-color: var(--second-color);
}

.header__link {
  background-color: var(--second-bg-color);
  border-radius: 50px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  padding: 12px 20px;
}

@media (max-width: 900px) {
  .header {
    padding-top: 24px;
  }

  .header__logo {
    width: 180px;
  }
}

@media (max-width: 660px) {
  .header {
    padding: 16px 0 24px;
  }
}
